<input type="@(_showPassword ? "text" : "password")" id="@Id" class="@PasswordClass" name="@Name"
       placeholder="@PasswordPlaceHolder"
       aria-describedby="password" @bind="@Value"/>
<span class="input-group-text cursor-pointer" @onclick="ShowPassword">
    <i class="bx @(_showPassword ? "bx-hide" : "bx-show")"></i>
</span>

@code {
    [Parameter] 
    public string? Id { get; set; }
    
    [Parameter] 
    public string? Name { get; set; }
    
    [Parameter] 
    public string? Class { get; set; }
    
    [Parameter] 
    public string? Value { get; set; }
    
    [Parameter] 
    public string? PlaceHolder { get; set; }
    
    private string PasswordClass=> Class??"form-control";
    private string PasswordPlaceHolder=> PlaceHolder??"············";
    private bool _showPassword = false;

    private void ShowPassword()
    {
        _showPassword = !_showPassword;
    }
}