@page "/FileManager"
@using Agent.UI.Application.FileManager
@using Agent.UI.Application.Abstractions.Models.FileManager
@using Agent.UI.Application.Abstractions.Interfaces

@inject IFileManagerLogic FileManagerLogic
@inject IHardwareInformation HardwareInformation
@inject SweetAlertService Swal
@inject IJSRuntime JsRuntime
@inject ILogger<FileManager> Logger
@inject IJavaScriptLoader JavaScript

<PageTitle>File manager - @CommonConst.AppName</PageTitle>

<h4 class="fw-bold py-3 mb-4">
    File manager
</h4>

<div class="card mb-4">
    <div class="card-body ms-1 p-1">
        @* <h5> *@
        <div class="row mt-1 mb-1">
            @if (_systemType == OperationSystemType.Windows)
            {
                <div class="col-12 col-lg-4">
                    <div class="row mb-3">
                        <label class="text-muted fw-light col-form-label col-3" for="sb_ChangeDrive">Drive:</label>
                        <div class="col-7">
                            <select class="form-select" id="sb_ChangeDrive" @onchange="ChangeDrive">
                                @foreach (var item in _logicalDrives)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            }
            @* </h5> *@

            <div class="col-12 col-lg-8">
                <button type="button" class="btn btn-icon btn-success" data-toggle="tooltip"
                        data-placement="top" title="Refresh" @onclick="RefreshCurrentFolder">
                    <span class="tf-icons bx bx-refresh"></span>
                </button>

                <button
                    type="button"
                    class="btn btn-icon btn-warning"
                    data-bs-toggle="popover"
                    data-bs-offset="0,14"
                    data-bs-placement="bottom"
                    data-bs-html="true"
                    data-bs-content-id="create-folder-block"
                    title="Create folder">
                    <span class="tf-icons bx bxs-folder-plus"></span>
                </button>

            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-lg-8">
                <span class="text-muted fw-light">Current Path:</span>
                @_path
            </div>
        </div>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Type</th>
                <th>Size</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @if (_currentRoot != _path)
            {
                <tr>
                    <td class="cell-fit">
                        <i class="fa-regular @FileTypeIcon.Get("Directory")"></i>
                    </td>
                    <td>
                        <a href="javascript:void(0)" @onclick="GoUp">..</a>
                    </td>
                    <td class="cell-fit"></td>
                    <td class="cell-fit"></td>
                    <td class="cell-fit"></td>
                </tr>
            }

            @foreach (var item in _pathItems ?? new List<FileListItem>(0))
            {
                <tr @key="item">
                    <td class="cell-fit">
                        <i class="fa-regular @FileTypeIcon.Get(item.MimeType)"></i>
                    </td>
                    <td>
                        @if (item.Type == FileType.File)
                        {
                            @item.Name
                        }
                        else
                        {
                            <a href="javascript:void(0)" @onclick="() => ChangePath(item.Name)">@item.Name</a>
                        }
                    </td>
                    <td class="cell-fit">@item.MimeType</td>
                    <td class="cell-fit">@(item.Type == FileType.File ? item.Size.FormatSize() : "")</td>
                    <td class="cell-fit">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-dark btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                @if (item.Type == FileType.File)
                                {
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)">Download</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)">Show content</a>

                                    </li>
                                    <li>
                                        <hr class="dropdown-divider"/>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="dropdown-item text-danger" href="javascript:void(0)" @onclick="() => DeleteFolder(item.Name)">Delete</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div id="create-folder-block">
    <CreateFolder />
</div>

@code {


}