@using MediatR
@using Dashboard.Application.Credentials.Queries.GetAllCredentials
@using Dashboard.Domain.Entities
@using Dashboard.Application.Credentials.Commands.DeleteCredentials
@using Dashboard.Application.Credentials.Commands.CommitCredentialsChanges
@using Dashboard.Application.Credentials.Queries.GetCredentialByName
@using SharedKernel.Entities
@using SharedKernel.Enums

@inherits DashboardPage
@{ base.BuildRenderTree(__builder); }

@inject IMediator Mediator
@inject SweetAlertService Swal;

<SectionContent SectionName="ToolbarSection">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle"
                href="javascript:void(0)"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="img/icons/credential-24.png" alt="credential"/>
                Add
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" href="javascript:void(0);" @onclick="() => _addNoneCredentialDialog?.Show()">
                        None
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="javascript:void(0)" @onclick="() => _addBasicCredentialDialog?.Show()">
                        Basic
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" @onclick="LoadData">
                <img src="img/icons/refresh-24.png" alt="Refresh"/>
                Refresh
            </a>
        </li>
    </ul>
    <!-- Search -->
    <div class="navbar-nav align-items-center">
        <form autocomplete="off">
             <input type="hidden" name="hidden" autocomplete="off" style="display:none;">

            <div class="nav-item d-flex align-items-center">
                <i class="bx bx-search fs-4 lh-0"></i>
                <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                    autocomplete="off"
                    role="presentation"
                    name="search"
                    aria-autocomplete='none'
                    @bind-value="SearchText"
                    @bind-value:event="onchange"
                    @oninput="OnChange"/>
            </div>
        </form>
    </div>
    <!-- /Search -->
</SectionContent>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var credential in _credentials)
    {
        <tr @key="credential">
            <td>
                <strong>@credential.Name</strong>
            </td>
            <td>
                <span class="badge @GetCredentialLabelType(credential.CredentialType) me-1">@credential.CredentialType</span>
            </td>
            <td>@credential.Description</td>
            <td>
                <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0);" @onclick="() => Update(credential)">
                            <i class="bx bx-edit-alt me-1"></i> Edit
                        </a>
                        <a class="dropdown-item" href="javascript:void(0);" @onclick="() => Delete(credential.Id)">
                            <i class="bx bx-trash me-1"></i> Delete
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

<AddNoneCredential @ref="_addNoneCredentialDialog" OnAdd="@LoadData"></AddNoneCredential>
<UpdateNoneCredential @ref="_updateNoneCredentialDialog" OnUpdate="@LoadData"></UpdateNoneCredential>

<AddBasicCredential @ref="_addBasicCredentialDialog" OnAdd="@LoadData"></AddBasicCredential>
<UpdateBasicCredential @ref="_updateBasicCredentialDialog" OnUpdate="@LoadData"></UpdateBasicCredential>

@code {
    private List<SharedKernel.Entities.Credential> _credentials = new(0);
    private AddNoneCredential? _addNoneCredentialDialog;
    private AddBasicCredential? _addBasicCredentialDialog;
    private UpdateNoneCredential? _updateNoneCredentialDialog;
    private UpdateBasicCredential? _updateBasicCredentialDialog;

    private string? SearchText { get; set; }= string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadData();
    }

    private Task OnChange(ChangeEventArgs args)
    {
        SearchText = args.Value is null ? string.Empty : (string)args.Value;
        return LoadData();
    }

    private void Update(SharedKernel.Entities.Credential credential)
    {
        switch (credential.CredentialType)
        {
            case CredentialType.None:
                _updateNoneCredentialDialog?.Show(credential);
                break;
            case CredentialType.Basic:
                _updateBasicCredentialDialog?.Show(credential);
                break;
        }
    }

    private static string GetCredentialLabelType(CredentialType type)
    {
        return type switch
        {
            CredentialType.None => "bg-label-primary",
            CredentialType.Basic => "bg-label-info",
            _ => "bg-label-dark"
        };
    }

}