@page "/"
@using Agent.UI.Domain.Models
@using Agent.UI.Application.HardwareInfo
@using Agent.UI.Application.Abstractions.Models.HardwareInfo

@inject TargetServiceDomain TargetDomain;
@inject NavigationManager NavigationManager;
@inject IHardwareInformationLogic HardwareInformation;

<PageTitle>Dashboard</PageTitle>

<h4 class="fw-bold py-3 mb-4">
    @(_hardwareInformation?.MachineName)
</h4>

<div class="row mb-5">
    <div class="col-12 order-0">
        <DashboardOS @ref="_dashboardOs" HardwareInformation="@HardwareInformation"/>
    </div>
</div>

<div class="row mb-5">
    <div class="col-lg-4 col-md-12 order-0">
        <div class="card">

            <div class="card-header">
                <h5 class="m-0 me-2 pb-3">CPU</h5>
                <small>Intel(R) Core(TM) i7-8565U CPU @@ 1.80GHz</small>
            </div>
            <div class="card-body">
                <ul class="p-0 m-0">
                    <li class="d-flex pb-1">
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                <h6 class="mb-0">Core</h6>
                                <small class="text-muted">Core count</small>
                            </div>
                            <div class="user-progress">2</div>
                        </div>
                    </li>

                    <li class="d-flex pb-1">
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                <h6 class="mb-0">Logical</h6>
                                <small class="text-muted">logical Processors count</small>
                            </div>
                            <div class="user-progress">8</div>
                        </div>
                    </li>

                    <li class="pb-1 d-block">
                        <a class="me-1 mb-2 d-block collapsed" data-bs-toggle="collapse" href="#cpu-cache-data" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Cache size
                        </a>
                        <div class="collapse" id="cpu-cache-data">
                            <ul class="p-0 m-0">
                                <li class="d-flex pb-1">
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <h6 class="mb-0">L1</h6>
                                            <small class="text-muted">Instruction</small>
                                        </div>
                                        <div class="user-progress">@(32768.FormatSize())</div>
                                    </div>
                                </li>

                                <li class="d-flex pb-1">
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <small class="text-muted">Data</small>
                                        </div>
                                        <div class="user-progress">@(32768.FormatSize())</div>
                                    </div>
                                </li>

                                <li class="d-flex pb-1">
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <h6 class="mb-0">L2</h6>
                                        </div>
                                        <div class="user-progress">@(262144.FormatSize())</div>
                                    </div>
                                </li>
                                <li class="d-flex pb-1">
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <h6 class="mb-0">L3</h6>
                                        </div>
                                        <div class="user-progress">@(8388608.FormatSize())</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>


                </ul>
            </div>
        </div>

    </div>
</div>


@code {
    private OperationSystemInformation? _hardwareInformation;

    private DashboardOS? _dashboardOs;
    
    protected override void OnInitialized()
    {
        if (TargetDomain.IsReady)
        {
            return;
        }
        
        NavigationManager.NavigateTo("/connectToServer");
    }
    
    private void GetInformation()
    {
        _= _dashboardOs?.GetOsInformation();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (!firstRender)
        {
            return;
        }
        
        GetInformation();
    }

   
}