@page "/HardwareInfo"
@using Agent.UI.Application.Abstractions.Models.HardwareInfo
@using Agent.UI.Application.HardwareInfo

@inject IHardwareInformationLogic HardwareInformation;

<PageTitle>Hardware info</PageTitle>

<h1>@(_hardwareInformation?.MachineName)</h1>

<p role="status">@(_hardwareInformation?.Name) (@(_hardwareInformation?.Version))</p>
<div class="row">
    <div class="col-3">Type: @(_hardwareInformation?.Type)</div>
    <div class="col-3">Is x64 OS: @(_hardwareInformation?.Isx64Processor)</div>
    <div class="col-3">Is x64 process: @(_hardwareInformation?.Isx64)</div>
    <div class="col-3">Username: @(_hardwareInformation?.UserName)</div>
    @if ((_hardwareInformation?.Type ?? OperationSystemType.Other) == OperationSystemType.Windows)
    {
        <div class="col-3">Drives: @(string.Join(", ", _hardwareInformation?.LogicalDrives ?? new List<string>(0)))</div>
    }
</div>


@code {
    private OperationSystemInformation? _hardwareInformation;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var getOsResponse = await HardwareInformation.GetOs();
        if (getOsResponse.IsFailure)
        {
            return;
        }

        _hardwareInformation = getOsResponse.Value!;
    }

}